// Colors
$primary-color: rebeccapurple;
$secondary-color: #0c0c1d;
$tertiary-color: #111132;
$text-color: white;
$button-border-color: white;
$button-bg-color: transparent;
$button-text-color: white;
$scroll-icon-color: #ffffff09;

// Spacing
$spacing-xs: 0.625rem; 
$spacing-sm: 1.25rem; 
$spacing-md: 1.875rem; 
$spacing-lg: 2.5rem; 

// Font Sizes
$font-size-xs: 1.5rem; // 24px
$font-size-sm: 1.875rem; // 30px
$font-size-md: 3.125rem; // 50px
$font-size-lg: 5.5rem; // 88px


