* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #0c0c1d;
  color: #d3d3d3;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
